/* Add styles here */
html {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

*, *:before, *:after {
    box-sizing: inherit
}

.button {
    color: white;
    background: #A5D8F0;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.top-bar {
    /* position: fixed; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
}

.top-bar.fixed {
    position: fixed;
    z-index: 1000;
}

.hero-image {
    height: 400px;
    text-align: center;
    background-image: url('/images/hero-image.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-text {
    margin-left: 15px;
}

.nav {
    display: flex;
    padding: 0;
    padding-top: 5.5px;
    margin-right: 20px;
}

.nav li {
    list-style: none;
    margin: 10px;
}

.secondary-text {
    font-size: 30px;
    font-style: italic;
    width: 75%;
    margin: 0 auto;
}

.about {
    /* height: 300px; */
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}
.picture-frame {
    border: 2px solid blue;
    float: right;
    height: 250px;
    width: 250px;
    border: 15px solid white;
    border-radius: 100%;
    background-image: url('/images/eric_smiling.jpg');
    background-position: center;
    background-size: cover;
    margin-top: -150px;
}

.logo-container {
    width: 50px;
    height: 100px;
}

.skills {
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.skills-container  {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.known {
    flex: 1;
}
.learning {
    flex: 1;
}


.known-skills, .learning-skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.learning-skills {
    margin-left: 30px;
}

.known-skills {
    margin-right: 30px;
}

.known-skills > * {
    margin: 20px;
}

.learning-skills > * {
    margin: 20px;
}

.border {
    border: 3px solid black;
    margin: 5px;
}

.logo {
    height: 50px;
    width: 50px;
}

.github-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
    margin-top: 45px;
    margin-left: 5px;
    color: white;
    background: #A5D8F0;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.github-button:hover {
    background: grey;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}


.featured-project {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    height: 800px;
    margin-top: 300px;

}

.featured-project-desc {
    margin-bottom: 100px;
}

.featured-media {
    display: flex;
}

.featured-links {
    display: flex;
    justify-content: center;
}

.youtube {
    flex: 1;
}

.codepen {
    flex: 1;
}

.other-projects {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}

.reach-out {
    margin-bottom: 100px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.project {
    display: flex;
    justify-content: space-around;
}

.description {
    margin-left: 20px;
}

.project1 {
    display: flex;
}
/* .project1, .project2, .project3, .project4 {
    width: 45%;
    background-color: green;
    height: 275px;
    margin: 5px;
} */

.moviecloud-image {
    width: 50%;
    height: 50%;
}

.divider {
    position: relative;
    top: 100px;
    /* height: 5px; */
    border: 1px solid #d3d3d3;
}

.divider-two {
    margin-top: 50px;
    margin-bottom: 100px;
    /* height: 5px; */
    border: 1px solid #d3d3d3;

}

.pong {
    margin-top: 200px;
}

.pong-image {
    width: 40%;
    height: 50%;
}

.project3, .project4 {
    margin-top: 20px;
}


.contact {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.contact-icons {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}

.contact-logo {
    width: 40px;
    height: 35px;
}

.hover {
    opacity: .1
}
