/* Add styles here */
html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

.top-bar {
    /* position: fixed; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hero-image {
    height: 400px;
    text-align: center;
}

.title-text {
    margin-left: 15px;
}

.nav {
    display: flex;
    padding: 0;
    padding-top: 5.5px;
    margin-right: 20px;
}

.nav li {
    list-style: none;
    margin: 10px;
}

.secondary-text {
    font-size: 30px;
    font-style: italic;
    width: 75%;
    margin: 0 auto;
}

.about-me {
    height: 300px;
    width: 75%;
    margin: 0 auto;
}

.skills {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.skills-container  {
    display: flex;
    justify-content: space-around;
}


.known-skills, .learning-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.featured-project {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    height: 600px;

}

.other-projects {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    height: 800px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.project1, .project2, .project3, .project4 {
    width: 45%;
    background-color: green;
    height: 300px;
}

.project3, .project4 {
    margin-top: 20px;
}


.contact {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.contact-icons {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}
